* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e8edf6;
    color: #333;
}

/* HEADER */

header {
    background-color: #a3aab3;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 10px;
}


/* NAVIGASI */

nav {
    background-color: #162b46;
    text-align: center;
    padding: 15px;
}

/* Selector class */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/* Efek ketika mouse diarahkan */
nav a:hover {
    color: #ffd166;
}


/* MAIN */

main {
    width: 90%;
    /*max-width: 1000px;*/
    margin: auto;
}

/* Selector ID */
#beranda {
    background-color: white;
    text-align: center;
    padding: 50px 30px;
    margin-top: 25px;
    border-radius: 10px;
}

#profil,
#kompetensi,
#kontak {
    background-color: white;
    padding: 30px;
    margin-top: 25px;
    border-radius: 10px;
}

h2 {
    color: #1e3a5f;
    border-bottom: 2px solid #1e3a5f;
    padding-bottom: 10px;
}


/* CLASS KARTU */

.kartu {
    background-color: #f5f7fa;
    padding: 20px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.kartu h3 {
    color: #1e3a5f;
}


/* KOMPETENSI */

.daftar-kompetensi {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.kartu-kompetensi {
    flex: 1;
    min-width: 200px;
    background-color: #f5f7fa;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.kartu-kompetensi:hover {
    transform: translateY(-5px);
}


/* TOMBOL */

button {
    background-color: #1e3a5f;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #162b46;
}


/* KONTAK */

.kontak {
    line-height: 1.8;
}


/* FOOTER */

footer {
    margin-top: 20px;
    background-color: #162b46;
    color: white;
    text-align: center;
    padding: 15px;
}


/* RESPONSIVE */

@media (max-width: 600px) {

    nav a {
        display: block;
        margin: 10px;
    }

    .daftar-kompetensi {
        flex-direction: column;
    }

}
img{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
    margin-top: 20px;
}

